@require 'exec.css'
@require reset
@require misc
@require responsive

$color-yellow = #ff0
$color-transparent-yellow = rgba(255, 255, 0, 0.5)

$color-light-gray = rgb(204,204,204)
$color-dark-gray = rgb(104,104,104)

$color-transparent-gray = rgba(0,0,0,0.65)

// CLEAN CSS

body
  font-family: 'Executive-Thin', sans-serif
  font-size: 14px
  line-height: 1.5
  -webkit-text-stroke: .15px
  -webkit-min-device-pixel-ratio: 0

a, a:visited, a:active
  color: white

// NEW MENUS

#mobile-menu-holder, #mobile-menu-toggle, #mobile-menu-mask, #mobile-logo-holder
  display: none

.page-template-template-news
  .menu
    display: none

.menu
  li
    background: $color-transparent-gray
    margin: 1px 0 0 0
    padding: 5px 10px
    text-transform: uppercase
    font-size: 13px
    list-style:none
    &.menu-spacer
      height: 19px
    &.active
      color: $color-yellow

.current-project
  color: $color-yellow

.menu-toggle, #copy-toggle
  background: $color-transparent-gray
  margin: 1px 0 0 0
  padding: 5px 10px
  font-size: 13px
  height: 19px
  position: relative
  text-transform: uppercase
  &:hover
    cursor: pointer

#copy-toggle
  background-color: black

.menu-toggle-close
  display: none
.menu-toggle-open
  display: block

.active + project-copy
  display: block

.active
  .menu-toggle-close
    display: block
  .menu-toggle-open
    display: none

.menu-toggle-indicator
  position: absolute
  right: 10px
  top: 1px
  color: $color-yellow
  font-size: 16px

#main-menu
	position:fixed
	top: -1px
	left: 0px
	width:210px
	margin:0
	padding:0
	z-index:10001

// PROJECT SINGLE

#projects-menu
	position: fixed
	top: -1px
	left: 211px
	width: 250px
	margin: 0
	padding: 0
	z-index: 10001

#slide-list
  position: absolute
  right: 30px
  top: 4px
  li
    display: inline-block
    border-radius: 18px
    height: 9px
    width: 9px
    background-color: $color-light-gray
    margin-left: 5px
    &.current-slide
      background-color: white
    &:hover
      pointer: cursor
      background-color: $color-dark-gray

#project-copy-panel
	position: fixed
	top: -1px
	left: 462px
	width: 500px
	margin: 0
	padding: 0
	z-index: 10001

#project-copy
  display: none
  background: $color-transparent-gray
  margin: 1px 0 0 0
  padding: 5px 10px
  overflow-y: auto
  box-sizing: border-box
  p:last-child
    margin-bottom: 0px

// NEWS HIGHLIGHT

.page-template-template-news #menu-section-news
  color: $color-yellow

// OPEN COPY SECTIONS

.single-people #project-copy, .single-studio #project-copy, .page-template-template-contact #project-copy
  display: block

// CONTACT PAGE

#contact-copy-panel
	position: fixed
	top: -1px
	left: 211px
	width: 500px
	margin: 0
	padding: 0
	z-index: 10001

// BREAKPOINT 1
@media all and (max-width: 960px)

  #main-menu
  	width:190px

  // PROJECT SINGLE
  #projects-menu
  	left: 191px
  	width: 200px

  #project-copy-panel
  	left: 392px
  	width: 440px

  #contact-copy-panel
  	left: 191px
  	width: 440px

// FIRST TO MOBILE
@media all and (max-width: 832px)

  #masthead, #projects-menu
    display: none

  #mobile-menu-holder
    display: none
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    overflow-y: auto
    font-size: 16px
    text-transform: uppercase
    z-index: 99997

  #mobile-menu-header
    height: 24px
    background: $color-transparent-gray
    margin: 0
    padding: 5px 10px
    position: relative

  #mobile-menu-toggle
    display: block
    position: fixed
    top: -2px
    left: 0px
    height: 16px
    padding: 10px
    width: 19px
    z-index: 99999
    &:hover
      cursor: pointer
      path
        fill: $color-yellow
    path
      fill: white

  #mobile-menu
    display: none
    margin-top: 36px
    li
      background: $color-transparent-gray
      margin: 1px 0 0 0
      padding: 5px 10px
      position: relative
      list-style: none
      &:hover
        background: $color-transparent-yellow
      &.has-submenu
        padding: 0
        background: transparent

  #mobile-menu-mask
    position: fixed
    z-index: 99998
    top: 0
    left: 0
    right: 0
    height: 35px
    background: black

  .mobile-menu-spacer
    height: 24px

  .mobile-submenu-trigger
    background: $color-transparent-gray
    margin: 0
    padding: 5px 10px
    display: block
    &:hover
      background: $color-transparent-yellow
      cursor: pointer

  .menu-toggle-indicator
    top: 4px

  .mobile-submenu
    margin: 0
    display: none
    li
      padding: 5px 10px 5px 25px !important

  // PROJECT SINGLE
  #project-copy-panel, #contact-copy-panel
    left: 0
    width: 100%

  #copy-toggle
    height: 22px
    padding-left: 50px
    padding-top: 7px

  .load-item
    top: 34px !important

  .moxonlogogeneral, .moxonlogo
    display: none !important

  #slide-list
    top: 7px

  // SLIDESHOW
  #supersized
    top: 34px !important
    li
      top: 34px !important

  // MOBILE LOGO
  .home #mobile-logo-holder
    z-index: 9
    position: fixed
    display: table
    top: 0
    left: 0
    width: 100%
    height: 100%
    text-align: center

  #mobile-logo-holder-inner
    display: table-cell
    vertical-align: middle

// MOBILE ONLY
@media all and (max-width: 480px)

  #slide-list
    display: none


// END CLEAN CSS
// FROM HERE STARTS THE HORROR
// ALL YE WHO ENTER ETC
// ----------------------------------------------------------------------------------------------


/* Links */
h2 {
	font-size:13px;
	color:#fff;
	text-transform:uppercase;
}

.main-content h2 {
	margin-bottom:10px;
}

a {
	color:#fff;
	text-decoration:none;
}

/* =Menu
----------------------------------------------- */
.menu-main-menu-container {
	text-transform:uppercase;
	letter-spacing:1px;
}

.main-navigation {
	text-transform:uppercase;
	clear:both;
	display:block;
	float:left;
	width:100%;
}

.main-navigation ul {
	list-style:none;
	margin:0;
	height:100%;
}

.main-navigation li {
	float:left;
	position:relative;
	margin-bottom:1px;
	width:100%;
	background:#000;
	background-color:#000;
	background-color:rgba(0,0,0,.65);
}

.main-navigation li a {
	display:block;
	text-decoration:none;
	margin-left:5px;
	padding:5px;
}

.main-navigation li a:hover {
	text-decoration:underline;
}

.main-navigation ul ul {
	display:none;
}

.main-navigation ul ul ul {
	left:100%;
	top:0;
}

.main-navigation ul li:hover > ul {
	display:block;
}

/* =Content
----------------------------------------------- */
.hentry {
	margin:0 0 1.5em;
}

.byline,.updated {
	display:none;
}

.single .byline,.group-blog .byline {
	display:inline;
}

.page-content,.entry-content,.entry-summary {
	margin:1.5em 0 0;
}

.page-links {
	clear:both;
	margin:0 0 1.5em;
}

/* =Asides
----------------------------------------------- */
.blog .format-aside .entry-title,.archive .format-aside .entry-title {
	display:none;
}

/* =Media
----------------------------------------------- */
.page-content img.wp-smiley,.entry-content img.wp-smiley,.comment-content img.wp-smiley {
	border:none;
	margin-bottom:0;
	margin-top:0;
	padding:0;
}

.wp-caption {
	border:1px solid #ccc;
	margin-bottom:1.5em;
	max-width:100%;
}

.wp-caption img[class*="wp-image-"] {
	display:block;
	margin:1.2% auto 0;
	max-width:98%;
}

.wp-caption-text {
	text-align:center;
}

.wp-caption .wp-caption-text {
	margin:.8075em 0;
}

.site-main .gallery {
	margin-bottom:1.5em;
}

.site-main .gallery a img {
	border:none;
	height:auto;
	max-width:90%;
}

.site-main .gallery dd {
	margin:0;
}

embed,iframe,object {
	max-width:100%;
}

/* =Navigation
----------------------------------------------- */
.site-main [class*="navigation"] {
	margin:0 0 1.5em;
	overflow:hidden;
}

[class*="navigation"] .nav-previous {
	float:left;
	width:50%;
}

[class*="navigation"] .nav-next {
	float:right;
	text-align:right;
	width:50%;
}

.current-menu-item a {
	color:#ff0!important;
}

.current-post-item a {
	color:#ff0!important;
}

.current-project a {
	color:#ff0!important;
}

/* =Comments
----------------------------------------------- */
.comment-content a {
	word-wrap:break-word;
}

/* =Widgets
----------------------------------------------- */
.widget {
	margin:0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width:100%;
}

/* Search widget */
.widget_search .search-submit {
	display:none;
}

/* =Infinite Scroll
----------------------------------------------- */
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, .infinite-scroll.neverending .site-footer {
/* Theme Footer (when set to scrolling) */
	display:none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display:block;
}

/* =supersizes styles
----------------------------------------------- */
#supersized-loader {
  display: none;
}

#supersized {
	display:block;
	position:fixed;
	left:0;
	top:0;
	overflow:hidden;
	z-index:-999;
	height:100%;
	width:100%;
}

#supersized img {
	max-width:none;
}

#supersized img {
	width:auto;
	height:auto;
	position:relative;
	display:none;
	outline:none;
	border:none;
}

#supersized.speed img {
	-ms-interpolation-mode:nearest-neighbor;
	image-rendering:-moz-crisp-edges;
}

/*Speed*/
#supersized.quality img {
	-ms-interpolation-mode:bicubic;
	image-rendering:optimizeQuality;
}

/*Quality*/
#supersized li {
	display:block;
	list-style:none;
	z-index:-30;
	position:fixed;
	overflow:hidden;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
}

#supersized a {
	width:100%;
	height:100%;
	display:block;
}

#supersized li.prevslide {
	z-index:-20;
}

#supersized li.activeslide {
	z-index:-10;
}

#supersized li.image-loading {
	background:#111 url(../images/ssgal/progress.gif) no-repeat center center;
	width:100%;
	height:100%;
}

#supersized li.image-loading img {
	visibility:hidden;
}

#supersized li.prevslide img,#supersized li.activeslide img {
	display:inline;
}

ul#demo-block {
	margin:0 15px 15px;
}

ul#demo-block li {
	margin:0 0 10px;
	padding:10px;
	display:inline;
	float:left;
	clear:both;
	color:#aaa;
	background:url(img/bg-black.png);
	font:11px Helvetica,Arial,sans-serif;
}

ul#demo-block li a {
	color:#eee;
	font-weight:700;
}

#controls-wrapper {
	text-align:left;
	height:42px;
	width:100%;
	z-index:4;
}

#controls {
	overflow:hidden;
	height:100%;
	position:relative;
	text-align:left;
	z-index:5;
}

#slidecounter {
	float:left;
	color:#999;
	font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow:#000 0 -1px 0;
	margin:0;
	line-height:42px;
}

#slidecaption {
	overflow:hidden;
	float:left;
	color:#FFF;
	font: 400 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow:#000 1px 1px 2px;
	margin:0 20px 0 0;
	line-height:42px;
}

#navigation {
	float:right;
	margin:0 20px 0 0;
}

#play-button {
	float:left;
	margin-top:1px;
	border-right:1px solid #333;
	background:url(../images/ssgal/bg-hover.png) repeat-x 0 44px;
}

#play-button:hover {
	background-position:0 1px;
}

#prevslide,#nextslide {
	position:absolute;
	top: 0;
}

#prevslide {
	position:fixed;
	width:50%;
	height:100%;
	left: 0;
	display:block;
}

a#prevslide:hover {
	cursor:w-resize;
}

a#nextslide:hover {
	cursor:e-resize;
}

#nextslide {
	position:fixed;
	right:0;
	width:50%;
	height:100%;
	display:block;
}

#prevslide:active,#nextslide:active {
	margin-top:-19px;
}

// ul.slide-list {
// 	float:right;
// 	padding-right:8px;
// 	margin-top:9px;
// 	width:100%;
// 	margin-bottom:10px;
// }

// ul.slide-list li {
// 	list-style:none;
// 	width:9px;
// 	height:9px;
// 	float:left;
// 	margin:0 5px 0 0;
// }

// ul.slide-list li.current-slide a,ul.slide-list li.current-slide a:hover {
// 	background-position:0 0;
// }
//
// ul.slide-list li a {
// 	display:block;
// 	width:9px;
// 	height:9px;
// 	background:url(images/ssgal/nav-dot.svg) no-repeat 0 -18px;
// }
//
// ul.slide-list li a:hover {
// 	background-position:0 -9px;
// 	cursor:pointer;
// }

#tray-button {
	float:right;
	margin-top:1px;
	border-left:1px solid #333;
	background:url(../images/ssgal/bg-hover.svg) repeat-x 0 44px;
}

#tray-button:hover {
	background-position:0 1px;
	cursor:pointer;
}

.footer-widget ul li div.upw-content p.post-title a {
	display:block;
	text-decoration:none;
	margin-left:5px;
	margin-bottom:9px;
	margin-top:10px;
	line-height:0;
}

.footer-widget ul li div.upw-content {
	float:left;
	position:relative;
	margin-bottom:1px;
	width:100%;
}

.footer-widget ul li div.upw-content p.post-title a {
	display:block;
	text-decoration:none;
	margin-left:5px;
	padding:5px 5px 4px;
}

.footer-widget ul li div.upw-content p.post-title {
	margin-bottom:1px;
}

.footer-widget ul li div.upw-content {
	line-height:1.5em;
/*font-size: .7em;*/
}

.project-cat-menu ul li {
	float:left;
	position:relative;
	margin-bottom:1px;
	width:100%;
	background:#000;
	background-color:#000;
	background-color:rgba(0,0,0,.65);
}

.project-cat-menu ul li a {
	display:block;
	text-decoration:none;
	margin-left:5px;
	padding:5px;
}

.project-cat-menu ul li span {
	display:block;
	text-decoration:none;
	margin-left:5px;
	padding:5px;
	color:#ff0;
}

.project-cat-menu ul li {
	margin-bottom:1px;
}

.project-cat-menu ul li {
	line-height:1.5em;
}

#-mob {
	display:none;
}

/*show hide etc*/
.main_content {
	position:relative;
	z-index:1001;
}

/* extending containers*/
.menu_cont {
	width:210px;
	z-index:10001;
	position:fixed;
	top:0;
	left:-8px;
	text-align:left;
	padding:15px 9px 10px;
}

.cat_list {
	width:250px;
	z-index:10001;
	position:fixed;
	top:0;
	left:203px;
	text-align:left;
	padding:15px 9px 9px;
}

.project-content {
	width:440px;
	z-index:10001;
	position:fixed;
	top:0;
	left:454px;
	text-align:left;
	padding:15px 9px 9px;
	overflow:auto;
}

.project-content-contact {
	width:340px;
	text-align:left;
	padding:0 9px 9px;
	overflow:hidden;
}

.toggle-view-contact-info li .panel .project-content-contact {
	margin-top:-10px;
}

.contact_container {
	width:220px;
	z-index:10001;
	position:fixed;
	top:0;
	left:213px;
	text-align:left;
	padding-top:15px;
}

/*TOGGLES*/
.project-content .toggle {
	height:11px;
	position:absolute;
	top:0;
	background-color:#000;
	background-color:#000;
	background-color:rgba(0,0,0,.65);
	padding:5px;
	text-align:right;
	width:440px;
}

.menu_cont .toggle {
	height:11px;
	line-height:5px;
	position:absolute;
	top:0;
	background-color:#000;
	background-color:#000;
	background-color:rgba(0,0,0,.65);
	padding:5px;
	text-align:right;
	width:200px;
}

.contact_container .toggle {
	height:10px;
	line-height:5px;
	position:absolute;
	top:1px;
	right:0;
	background-color:#000;
	background-color:#000;
	background-color:rgba(0,0,0,.65);
	padding:5px;
	text-align:right;
	width:210px;
}

.toggle span.image {
	height:10px;
	width:10px;
	position:absolute;
	top:5px;
	right:5px;
	background:url(../images/ddplus.png) no-repeat;
}

.toggle .image:hover {
	height:10px;
	width:10px;
	position:absolute;
	top:5px;
	right:5px;
	background:url(../images/ddplus_hover.png) no-repeat;
}

.toggle .text {
	margin-left:10px;
}

.content-dropdown {
	margin-top:7px;
	height:550px;
	position:relative;
	right:0;
	overflow:auto;
}

.project-content .content-dropdown {
	margin-top:7px;
	width:440px;
	height:550px;
	position:relative;
	right:0;
	overflow-y:auto;
}

.project-content .content-dropdown p {
	padding-right:15px;
}

.main-content {
	background-color:#000;
	background-color:#000;
	background-color:rgba(0,0,0,.65);
	padding:5px 0 15px 10px;
}

.main-content p {
	line-height:1.5em;
	font-size:1.1em;
}

.project-cat-menu {
	letter-spacing:1px;
	text-transform:uppercase;
}

/* modal stuffs for news posts*/
#basic-modal-content {
	display:none;
}

/* Overlay */
#simplemodal-overlay {
	background-color:#000;
}

/* Container */
#simplemodal-container {
	height:360px;
	width:600px;
	color:#bbb;
	background:#c83636;
/* The Fallback */
	background:rgba(0,0,0,0.6);
	padding:12px;
}

/* TODO - change w:290px for responsive - when you do that ;)*/
#simplemodal-container .simplemodal-data {
	padding:8px;
}

#simplemodal-container a {
	color:#ddd;
}

#simplemodal-container a.modalCloseImg {
	background:url(../images/x.png) no-repeat;
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
}

#simplemodal-container h3 {
	color:#84b8d9;
}

.entry-content {
	max-height:300px;
	overflow:auto;
}

/*res layout for posts*/
/*see more box*/
.see-more-box {
	position:fixed;
	bottom:0;
	right:0;
	width:65px;
	height:65px;
	background:#000;
	background:#000;
	background:rgba(0,0,0,0.65);
	color:#fff;
	padding:30px 15px 15px;
	font-size:.75em;
	text-align:center;
}

.see-more-box img {
	padding-top:10px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

/*contact page*/
.info_content {
	padding:10px;
}

iframe {
	vertical-align:top;
}

#canvas_holder {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
}

#map_canvas {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}

#map_canvas p {
	color:#999;
}

.address {
	margin-top:-20px;
}

#map_canvas a {
	color:#999;
}

#map_canvas a:hover {
	color:#000;
}

.primary-mobile-nav {
	display:none;
}

#mobile_nav {
	display:none;
}

#mobile_content_nav {
	display:none;
}

/*tabbed content*/
.tabs {
	position:relative;
	min-height:200px;
/* This part sucks */
	clear:both;
	margin:0;
}

.tab {
	float:left;
}

.tab label {
	padding:10px;
	margin-left:-1px;
	position:relative;
	left:1px;
}

.tab [type=radio] {
	display:none;
}

.content {
	position:absolute;
	top:28px;
	left:0;
	right:0;
	bottom:0;
	padding:20px;
}

[type=radio]:checked ~ label {
	z-index:2;
}

[type=radio]:checked ~ label ~ .content {
	z-index:1;
	display:none;
}

li.menu-divide {
	margin-bottom:8px;
}

.pagination {
	width:100%;
	display:block;
	float:left;
	margin-top:20px;
}

.pagination a {
	color:#000!important;
}

#infscr-loading {
	position:fixed;
	bottom:0;
	left:50%;
}

/*stuffs for new news jobby*/
.demos_wrapper {
	padding-top:20px;
}

.demo_wrapper {
	padding-bottom:30px;
	margin:0 0 15px;
	border-bottom:1px solid #ddd;
}

.demo_wrapper h4 {
	padding-top:0;
}

.demo {
	width:330px;
	float:left;
}

.demo_description {
	margin-left:330px;
}

.back_up {
	padding:15px 0 0;
	font-size:12px;
}

#header a,.header a {
	background:center center no-repeat transparent;
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC');
	display:block;
	width:40px;
	height:40px;
	position:absolute;
	top:0;
	left:10px;
}

#header a.friends,.header a.friends {
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVNJREFUeNq01jFLAzEYxvH2UBCxiIiDUhzcdXCyIk5ufgUXLR37JdxcXBxcuwmOOtml0EKpo04iWIpIQREVEVFLjf9AhoC9e3O5uxd+lMLdPU1yedO8UiqXdQWO122ghi4+8IwGqiiId+uRCHbxqsLrFHNRz5ACSnhTch1EPScQpnIH0w7TWcGiz5rouS45rtkMVnxCJrAQ4yUq+oT8YhAjZOAT8oWHGCE9nxC9H64cA15w4xOiW0HbfErVNhvUa8c3cecQcoZv3xA9z+fCNbe4SNq7jvEUMaUnuE/au7SjkHbSR1G637ULh73Kn+gn7cIBttELGckQh9Jo8iMOrSksYx2b2MKk8FuvUUcHl/9GbiWuooYu3pVf/eARLZQxbp8na2YR0659e+HLmM/geN+z98lSRv8hZu2QQkYh+kzKjZkvHdPahymH6DNp5Cucev0JMAAkKj0NEoYBJwAAAABJRU5ErkJggg==');
}

.menu-right {
	background:#000;
}

#header a.right,.header a.right {
	left:auto;
	right:10px;
}

/*news*/
#cbp-rfgrid {
	margin:0 20px 0 0;
	padding:0;
	list-style:none;
	position:relative;
	width:100%;
	clear:both;
}

#cbp-rfgrid li {
	position:relative;
	float:left;
	overflow:hidden;
	width:33.3333333%;
/* Fallback */
	width:-webkit-calc(100% / 3);
	width:calc(100% / 3);
}

#cbp-rfgrid li a img {
	display:block;
	width:100%;
	cursor:pointer;
}

#cbp-rfgrid li a img {
	max-width:100%;
}

/* Flexbox is used for centering the heading */
/*#cbp-rfgrid li a div { position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; background: rgba(240,186,21,0.2); display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; text-align: center; opacity: 0; }*/
#cbp-rfgrid li a:hover div {
	opacity:1;
}

#cbp-rfgrid li a div h3 {
	width:100%;
	color:#fff;
	text-transform:uppercase;
	letter-spacing:2px;
	padding:10px;
}

#cbp-rfgrid li a div p {
	width:95%;
	color:#fff;
	text-transform:uppercase;
	padding:10px;
}

#myclient {
	line-height:0;
}

#myclient > li {
	position:relative;
	display:inline-block;
}

#myclient > li img {
	max-height:100px;
	max-width:100px;
	vertical-align:middle;
	position:absolute;
	margin:auto;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

.myhover {
	background-color:rgba(0,0,0,.65);
	position:absolute;
	height:100%;
	width:100%;
	overflow:hidden;
	top:0;
	left:0;
	display:none;
}

.myhover p {
	line-height:1.5;
	padding-left:25px;
	padding-right:25px;
}

.myhover h1 {
	text-align:center;
	font-size:13px;
	text-transform:uppercase;
	color:#fff;
	letter-spacing:1px;
	margin-top:50px;
	margin-bottom:20px;
}

.myhover a {
	color:#ff0!important;
	text-decoration:underline!important;
}

.mybackground {
	background:url(transparent_bg.png);
}

/* menu */
/* the rest :) */
.main {
	margin:0 auto;
}

.column {
	float:left;
	width:500px;
}

.column:nth-child(2) {
	box-shadow:-1px 0 0 rgba(0,0,0,0.1);
	text-align:left;
}

.column p {
	font-weight:300;
	font-size:2em;
	padding:0 0 .5em;
	margin:0;
	line-height:1.5;
}

button {
	border:none;
	background:#000;
	color:#fff;
	font-size:12px;
	cursor:pointer;
	display:inline-block;
	position:fixed;
	top:0;
	left:0;
	height:26px;
	padding-bottom:25px;
}

button:hover {
	background:#666;
	background-color:rgba(0,0,0,.65);
}

.info {
	text-align:center;
	font-size:1.5em;
	margin-top:3em;
	clear:both;
	padding:3em 0;
	opacity:.7;
	color:#aca89a;
}

.info a {
	font-weight:700;
	font-size:.9em;
}

/*toggle menu panel home*/
.toggle-view {
	list-style:none;
	margin:0;
	padding:0;
	width:230px;
	position:fixed;
	top:-10px;
	left:-10px;
	z-index:10001;
}

.toggle-view li {
	margin:10px;
	position:relative;
	cursor:pointer;
}

.toggle-view h3 {
	margin:0;
	color:rgba(255,255,255,0);
	text-transform:uppercase;
	font-size:13px;
	background-color:#000;
	background-color:#000;
	background-color:$color-transparent-gray;
	padding:5px 10px;
	font-weight:400;
}

.toggle-view span {
	position:absolute;
	right:10px;
	top:0;
	color:#ff0;
	font-size:16px;
}

.toggle-view .panel {
	margin:1px 0;
}

.panel ul li {
	list-style:none;
}

/*toggle menu news*/
.toggle-view-news {
	list-style:none;
	margin:0;
	padding:0;
	width:230px;
	position:fixed;
	top:-10px;
	left:-10px;
	z-index:10001;
}

.toggle-view-news li {
	margin:10px;
	position:relative;
	cursor:pointer;
}

.toggle-view-news h3 {
	margin:0;
	color:rgba(255,255,255,0);
	text-transform:uppercase;
	font-size:13px;
	background-color:#000;
	background-color:#000;
	background-color:$color-transparent-gray;
	padding:5px 10px;
	font-weight:400;
}

.toggle-view-news span {
	position:absolute;
	right:10px;
	top:0;
	color:#ff0;
	font-size:16px;
}

.toggle-view-news .panel {
	display:none;
	margin:1px 0;
}

.panel ul li {
	list-style:none;
}

/*toggle project cat panel*/
.toggle-view-project-cat {
	list-style:none;
	margin:0;
	padding:0;
	width:270px;
	position:fixed;
	top:-10px;
	left:201px;
	z-index:10002;
}

.toggle-view-project-cat li {
	margin:10px;
	position:relative;
	cursor:pointer;
}

.toggle-view-project-cat h3 {
	background-color:#000;
	background-color:#000;
	background-color:rgba(0,0,0,.5);
	margin:0;
	color:rgba(255,255,255,0);
	font-size:13px;
	text-transform:uppercase;
	padding:5px 10px;
	font-weight:400;
}

.toggle-view-project-cat span {
	position:absolute;
	right:10px;
	top:0;
	color:#ff0;
	font-size:16px;
}

.toggle-view-project-cat .panel {
	margin:0;
}

ul.project-cats {
	margin-top:0;
}

ul.project-cats li {
	background:#000;
	background:#000;
	background:$color-transparent-gray;
	margin:1px 0 0;
	padding:5px 10px;
	text-transform:uppercase;
	font-size:13px;
}

/* contact toggle */
.toggle-view-contact-info {
	list-style:none;
	margin:0;
	padding:0;
	width:400px;
	position:fixed;
	top:-10px;
	left:201px;
	z-index:10003;
}

.toggle-view-contact-info li {
	margin:10px;
	position:relative;
	cursor:pointer;
}

.toggle-view-contact-info h3 {
	background:#000;
	background:#000;
	background:$color-transparent-gray;
	margin:0;
	color:#fff;
	font-size:13px;
	text-transform:uppercase;
	padding:5px 10px;
	font-weight:400;
}

.toggle-view-contact-info span {
	position:absolute;
	right:10px;
	top:0;
	color:#ff0;
	font-size:16px;
}

.toggle-view-contact-info .panel {
	background:#000;
	background:#000;
	background:$color-transparent-gray;
	margin:1px 0;
	padding:15px 15px 15px 10px;
	height:518px;
	overflow:auto;
	font-size:14px;
	position:relative;
}

.toggle-view-project-info-phone {
	display:none;
}

h3.phone-proj-info {
	background:none;
}

/* menu block */
li.block-space a {
	opacity:0;
	cursor:none;
}

/* sidebar hacks*/
.upw-posts article {
	background:#000;
	background:#000;
	background:$color-transparent-gray;
	margin:1px 0 0;
	padding:5px 10px;
	text-transform:uppercase;
	font-size:13px;
}

.upw-posts .entry-title {
	margin-bottom:0!important;
}

.upw-posts article {
	display:block;
	margin-bottom:0!important;
	padding-bottom:0!important;
	border-bottom:0 solid #DDD!important;
	margin:1px 0 0!important;
	padding:5px 10px!important;
}

article.active header h4.entry-title a {
	color:#FF0!important;
}

/*toggle project info panel*/
.slide-list-cont-tab {
	display:none;
}

.toggle-view-project-info {
	list-style:none;
	margin:0;
	padding:0;
	width:520px;
	position:fixed;
	top:-10px;
	left:452px;
	z-index:10003;
}

.toggle-view-project-info li {
	margin:10px;
	position:relative;
	cursor:pointer;
}

.toggle-view-project-info h3 {
	background:#000;
	background:#000;
	background:$color-transparent-gray;
	margin:0;
	color:#fff;
	font-size:13px;
	text-transform:uppercase;
	padding:5px 10px;
	font-weight:400;
}

.toggle-view-project-info span {
	position:absolute;
	right:10px;
	top:0;
	color:#ff0;
	font-size:16px;
}

.toggle-view-project-info .panel {
	display:none;
	background:#000;
	background:#000;
	background:$color-transparent-gray;
	margin:1px 0;
	padding:0 15px 15px 10px;
	height:518px;
	overflow:auto;
	font-size:14px;
	position:relative;
}

.project-content {
	width:480px;
	height:558px;
	position:absolute;
	left:0;
	max-height:518px;
	overflow-y:auto;
	padding-top:4px;
}

.toggle-view-project-info h3.tablet {
	display:none;
}

/*toggle people info panel*/
.toggle-view-people-info {
	list-style:none;
	margin:0;
	padding:0;
	width:520px;
	position:fixed;
	top:-10px;
	left:452px;
	z-index:10003;
}

.toggle-view-people-info li {
	margin:10px;
	position:relative;
	cursor:pointer;
}

.toggle-view-people-info h3 {
	background:#000;
	background:#000;
	background:$color-transparent-gray;
	margin:0;
	color:#fff;
	font-size:13px;
	text-transform:uppercase;
	padding:5px 10px;
	font-weight:400;
}

.toggle-view-people-info span {
	position:absolute;
	right:10px;
	top:0;
	color:#ff0;
	font-size:16px;
}

.toggle-view-people-info .panel {
	background:#000;
	background:#000;
	background:$color-transparent-gray;
	margin:1px 0;
	padding:15px 15px 15px 10px;
	height:550px;
	overflow:auto;
	font-size:14px;
	position:relative;
}

/*toggle studio info panel*/
.toggle-view-studio-info {
	list-style:none;
	margin:0;
	padding:0;
	width:520px;
	position:fixed;
	top:-10px;
	left:452px;
	z-index:10003;
}

.toggle-view-studio-info li {
	margin:10px;
	position:relative;
	cursor:pointer;
}

.toggle-view-studio-info h3 {
	background:#000;
	background:#000;
	background:$color-transparent-gray;
	margin:0;
	color:#fff;
	font-size:13px;
	text-transform:uppercase;
	padding:5px 10px;
	font-weight:400;
}

.toggle-view-studio-info span {
	position:absolute;
	right:10px;
	top:0;
	color:#ff0;
	font-size:16px;
}

.toggle-view-studio-info .panel {
	background:#000;
	background:#000;
	background:$color-transparent-gray;
	margin:1px 0;
	padding:0 15px 15px 10px;
	height:550px;
	overflow:auto;
	font-size:14px;
	position:relative;
}

/* hacky FIX for Google Maps Info window styes problem */
img[src*="gstatic.com/"],img[src*="googleapis.com/"] {
	max-width:none;
}

/* logo */
.moxonlogogeneral {
	display:none;
	position:fixed;
	bottom:25px;
	right:25px;
	z-index:100000001;
}

.moxonlogo {
	display:none;
	position:fixed;
	bottom:25px;
	right:25px;
  z-index: 9999;
}

/* ugly webkit only override */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.toggle-view-contact-info .panel {
		height:509px!important;
	}
}

/* logo fix */
#page-id-138 .moxonlogogeneral {
	position:absolute;
	bottom:-125px;
	right:-125px;
}
