@font-face {
  font-family: 'Executive-Thin';
  src: url('fonts/Executive-Thin.woff') format('woff');
    font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Executive-Light';
  src: url('fonts/Executive-Light.woff') format('woff');
    font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Executive-Thin-Ital';
  src: url('fonts/Executive-Thin-Ital.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Executive-Med';
  src: url('fonts/Executive-Medium.woff') format('woff');
    font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Executive-Med-Ital';
  src: url('fonts/Executive-MediumItal.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}