// GRID

$cols = 12
$col = 90px
$gutter = 16px

.container
  width: ($col * $cols)+($gutter * $cols)

.col
  margin-left: ($gutter/2)
  margin-right: ($gutter/2)

for col in 1..$cols
  .col-{col}
    width: ( col * $col ) + ( ( col - 1 ) * $gutter )

// ******************************************************

// VARIABLES

$margin-small = ($gutter)
$margin-tiny = ($gutter / 2)
$margin-micro = ($gutter / (2 * $golden-ratio))
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 17px
$font-size-larger = 1.3rem
$font-size-h3 = golden-ratio(1rem , .7)
$font-size-h2 = golden-ratio(1rem , 1.5)
$font-size-h1 = golden-ratio(1rem , 2)

$font-leading-basic = 1.35
$font-leading-tighter = 1.15
$font-leading-larger = 1.45

$font-tracking-basic = 0.001em
$font-tracking-wider = 0.05em

// ******************************************************

// TYPOGRAPHY

html
  font-size: $font-size-basic
  letter-spacing: $font-tracking-basic

body
  line-height: $font-leading-basic

  // HTML ELEMENT STYLING

h1
  font-size: $font-size-h1
  line-height: $font-leading-tighter

h2
  font-size: $font-size-h2
  line-height: $font-leading-tighter

h3
  font-size: $font-size-h3

  // FONT RULES

.font-copy
  font-size: $font-size-basic
  line-height: $font-leading-larger

// ******************************************************

// BASIC

.only-desktop
  display: none

.only-mobile
  display: initial

// ******************************************************

// MARGINS AND PADDING

  // MARGIN TOP

.margin-top-micro
  margin-top: $margin-micro

.margin-top-tiny
  margin-top: $margin-tiny

.margin-top-small
  margin-top: $margin-small

.margin-top-basic
  margin-top: $margin-basic

.margin-top-mid
  margin-top: $margin-mid

.margin-top-large
  margin-top: $margin-large

  // MARGIN BOTTOM

.margin-bottom-micro
  margin-bottom: $margin-micro

.margin-bottom-tiny
  margin-bottom: $margin-tiny

.margin-bottom-small
  margin-bottom: $margin-small

.margin-bottom-basic
  margin-bottom: $margin-basic

.margin-bottom-mid
  margin-bottom: $margin-mid

.margin-bottom-large
  margin-bottom: $margin-large

  // PADDING TOP

.padding-top-micro
  padding-top: $margin-micro

.padding-top-tiny
  padding-top: $margin-tiny

.padding-top-small
  padding-top: $margin-small

.padding-top-basic
  padding-top: $margin-basic

.padding-top-mid
  padding-top: $margin-mid

.padding-top-large
  padding-top: $margin-large

  // PADDING BOTTOM

.padding-bottom-micro
  padding-bottom: $margin-micro

.padding-bottom-tiny
  padding-bottom: $margin-tiny

.padding-bottom-small
  padding-bottom: $margin-small

.padding-bottom-basic
  padding-bottom: $margin-basic

.padding-bottom-mid
  padding-bottom: $margin-mid

.padding-bottom-large
  padding-bottom: $margin-large

// ******************************************************

// MENU

menuBackgrounds()
  background-color: $color-gray-transparent
  padding: 6px 12px
  margin-bottom: 1px
  margin-right: 0

#menus
  width: 100%

.single-project.main-menu-open
  #main-content
    .menu-column-content
      overflow: hidden
      pointer-events: none
  #project-images
    overflow: hidden
    pointer-events: none

.menu-column
  float: none
  width: 100%
  .menu-column-top:after
    background-size: 10px 10px
    width: 10px
    height: 10px
    right: 8px
    top: 9px

.menu-column-top
  menuBackgrounds()

.menu-column-content
  li
    menuBackgrounds()

.menu-background
  menuBackgrounds()

#main-menu
  .menu-column-top
    &:after
      display: none
  .menu-column-content
    display: none

#mobile-studio-submenu
  width: 100%
  display: none
  li
    padding-left: 24px
    &:before
      content: '\21B3'
      padding-right: 5px

#main-content
  width: 100%
  overflow-y: auto
  .menu-column-top
    display: none

// ******************************************************

// LOGOS

#mobile-logo-overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 90
  .u-flex-center
    height: 100vh
  svg
    width: 170px
    height: 156px
    path
      fill: $color-white-soft

// ******************************************************

// NEWS

#news-post-shim
  display: none

.news-header
  .news-post-title-holder
    &:hover
      opacity: 0

.news-post-mobile-header
  display: block
  margin-bottom: $margin-tiny
  color: $color-gray

.news-post-content
  position: relative
  padding: $margin-small
  .news-post-date
    margin-bottom: $margin-small
  .news-post-drawer-close
    padding: $margin-small

.news-post-close
  display: none

#pagination
  padding: $margin-basic

// ******************************************************

// SINGLE

#mobile-single-project-title
  display: inline-block
  padding-left: 8px
  max-width: 75%
  vertical-align: bottom

#mobile-single-project-info-toggle
  float: right
  color: $color-yellow

// SINGLE PROJECT

.single-project
  #main-content
    .menu-column-top:after
      font-size: 1rem
      content: 'INFO'
      padding: 6px 8px
      color: $color-yellow
      background-image: none
      top: 0
      right: 0
      width: auto
      height: auto
    .menu-column-content
      display: none

#images
  align-items: flex-start

#project-images
  padding-top: 34px
  max-height: 100vh
  overflow-y: scroll

.mobile-project-image
  display: block
  margin-bottom: 1px

// ******************************************************

// PEOPLE ARCHIVE

.post-type-archive-people
  .people-header
    position: relative
    &:after
      background-size: 10px 10px
      width: 10px
      height: 10px
      right: 0px
      top: 4px
  .people-copy
    padding-bottom: $margin-tiny

// PROJECT TAX ARCHIVE

.tax-project_type
  .menu-column-content.menu-background
    padding-left: 0
    padding-right: 0